.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem !important;
  background-color: transparent !important;
}

.brand {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.125rem;
  background-color: #f44336;
  border-radius: 50%;
}

.brand::before {
  content: '{D}';
  margin-top: -0.25rem;
  margin-left: 0.125rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 2rem !important;
    height: 6rem !important;
  }
}
